<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title ng-bind="title"></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <!--<script data-main="js/main-built.js" src="lib/require/require.min.js"></script>-->
    <script data-main="js/main.js" src="lib/require/require.min.js"></script>
</head>

<body ng-controller="LayoutController">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div login-dialog ng-if="!isLoginPage"></div>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">BLOG</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="navitem in navArr track by $index"><a ng-bind="navitem.name" href="#{{navitem.url}}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view class="martop-60">

</div>
</body>
</html>
