<div class="container martop-50">
    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 panel panel-success">
        <form class="form-horizontal panel-body card" role="form">
            <div class="form-group control-group success">
                <span  ng-class="{'errtext': !hasValidLength()}">Rmaining: {{remaining()}}</span>
                <textarea ng-model="message" name="" id="" cols="30" rows="10" class="col-xs-12 col-md-12">
                    {{message}}
                </textarea>

            </div>
            <div class="form-group control-group success">
                <button class="col-xs-5 col-md-5 btn-primary" ng-disabled="!hasValidLength()" ng-click="send()">Send</button>
                <button class="col-xs-5 col-md-offset-2 col-xs-offset-2 col-md-5 btn-default" ng-click="clear()">Clear</button>
            </div>
        </form>
    </div>

</div>